
/* card effects */

.card:hover .title {
    background-color:  black;
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
}

.card:hover img {
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
}

.popular-artist .card:hover img {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.card:hover {
    border-radius: 2rem;
    box-shadow: 0 0 10px white;
}


.card .title, .card img, .card {
    transition: all 0.5s;

}


/* sidebar "click" collapse*/

.sidebar {
    transition: all ;
}

.sidebar:active .hidden {
    display: none;
}

.sidebar:active {
    min-width: 5rem;

}

.container:active .playlist {
    width: 100vw;
}