/* css reset */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'DM Sans', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

a {
    text-decoration-line: none;
}

h2 {
    color: white;
    font-size: 1.8rem;
}

img {
    max-width: 100%;
}

hr {
    border-bottom: 2px solid var(--tx_color);
}



/* utilities */

:root {
    --h_footer: 5rem;
    --w_sideb: 15rem;
    --bg_banner:rgb(8 11 18);
    --white:white;
    --bg-playlist:rgb(20 25 34);
    --tx_color:rgb(114 116 121);
    --dark: black;
    --bg_footer: rgb(40 40 40);
    --color_light: #c1c1c1;
}

.d-flex {
    display: flex;
}

.no-style li {
    list-style-type: none;
}

.col-2 {
    width: calc(100% /12 * 2);
}

.col-3 {
    width: calc(100% /12 * 3);
}

.col-6 {
    width: 50%;
}

.col-10 {
    width: calc(100% /12 * 10);
}

.mx-1 {
    margin: 0 1rem;
}

.tx-center {
    text-align: center;
}

.al-center {
    align-items: center;
}

.just-center {
    justify-content: center;
}

.just-between {
    justify-content: space-between;
}

.just-end {
    justify-content: end;
}

.just-evenly  {
    justify-content: space-evenly;
}

.overflow {
    overflow-y: auto;
}

.overflow-hd {
    overflow: hidden;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.wrap {
    flex-wrap: wrap;
}

.gap-1 {
    gap: 1rem;
}

.p-1 {
    padding: 1rem;
}

.px-1 {
    padding:0 1rem
}


.py-1 {
    padding: 1rem 0;
}

.py-2 {
    padding: 2rem 0;
}

.mr-1 {
    margin-right: 1rem;
}

.btn-transparent {
    border: 2px solid var(--white);
    padding: 1rem 2.5rem;
    border-radius: 3rem;
}





/* main section */

.container {
    width: 100vw;
    height: calc(100vh - var(--h_footer));
}

.sidebar {
    width: var(--w_sideb);
    height: calc(100vh - var(--h_footer));
    background-color: var(--dark);
    flex-direction: column;
}

.logo img {
    font-size: 5rem;
    padding: 2rem 4rem 1rem 1rem
}

/* da sistemare! */
.banner {
    background-color: var(--bg_banner);
    position: sticky;
    top:0;
    left: 0;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: end;
}

.banner a {
    color: var(--white);
}

.playlist {
    width: calc(100vw - var(--w_sideb));
    height: calc(100vh - calc(var(--h_footer) - var(--h_banner)));
    background-color: var(--bg-playlist);
}

.filter li, .filter p, .card p, .suggestion{
    color: var(--tx_color);
}

.mx-1 li {
    margin: 0 1rem;
}

.filter {
    width: 100%;
    margin: 1rem 0;
}

.filter ul {
    line-height: 3rem;
    height: 3rem;
}

.albums {
    padding: 2rem;
}

.card {
    width: 100%;
    height: auto;
}

.cover {
    position: relative;
}

.play {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--white);
    display: none;
}

.cover img {
    position: relative;
}



.title h3 {
    color: var(--white);
    font-size: 0.9rem;
}

.subtitle {
    font-size: 0.7rem;
    padding: 0.5rem;
}

.suggestion {
    font-size: 0.9rem;
    padding-top: 0.5rem;
    padding-bottom: 2rem;
}

.popular-artist img {
    border-radius: 50%;

}

.albums [class^="col-"] {
    padding: 1rem;
}

.menu, .menu i, .favourite-playlist, .add-playlist a {
    color: var(--white);
    font-size: 1rem;
}

.home, .search, .library, .add-playlist, .list li, .install {
    opacity: 0.6;
}


.menu i {
    padding: 1rem;
}

.menu .hidden {
    font-size: 1rem;

}

.menu>div {
    display: flex;
    justify-content: left;
    align-items: center;
}

 .profile{
    color: var(--white)
}

.menu a {
    width: 1.5rem;
    margin: 0.2rem 0.5rem;
}

.list {
    line-height: 2rem;
}


.visible-s {
    display: none;
}

.install a {
    width: 1.5rem;
    fill: var(--tx_color);
    padding-top: 5px;
}

.install {
    align-items: center;
}

.user a {
    width: 2rem;
    height: 2rem;
    object-fit: cover;
    border-radius: 50%;
    background-color: var(--tx_color);
    background-image: url(../img/profile.svg);
    background-repeat: no-repeat;
}

.user {
    color: white;
    align-items: center;
}






/* end main section */


/* footer section */

#site-footer {
    width: 100vw;
    height: var(--h_footer);
    background-color: var(--bg_footer);
}

.song img {
    width: 2.5rem;
    min-width: 2.5rem;
    aspect-ratio: 1/1;
    padding-left: 0.5rem;
}

.bot {
    height: 5rem;
    align-items: center;
}

.save a {
    color: var(--tx_color);
    padding: 0.5rem;
}

.controls a, .function a {
    color: var(--white);
}


.time-bar{
    width: 70%;
    height: 5px;
    background-color: var(--tx_color);
    border-radius: 5px;
    position: relative;
    max-width: 50rem;
}

.progressive, .progressive-select {
    width: 20%;
    height: 5px;
    border-radius: 5px;
    position: absolute;
}

.progressive {
    background-color: var(--color_light);
}

.progressive-select {
    background-color: green;
    display: none;
}

.progressive-select a {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(50%, -50%);
}

.song_name h6 {
    font-size: 0.9rem;
    color: var(--white);
}

.song_name p {
    font-size: 0.7rem;
    color: var(--tx_color);
}

.song_name {
    padding-left: 2%;
    padding-right: 20%;
}

.player {
    max-width: 60%;
    margin: auto;
    padding: 0.5rem 0;
}

.real_time p {
    color: var(--white);
    font-weight: 700;
    font-size: 0.8rem;
    padding: 0 1rem;
}

.function a {
    padding: 0 0.5rem;
}

.function {
    align-items: center;
    justify-content: end;
    padding: 0 1rem;
    width: 100%;
    position: relative;
}

.volume-bar{
    width: 30%;
    min-width: 2rem;
    height: 5px;
    background-color: var(--tx_color);
    border-radius: 5px;
    position: relative;
}
/* end footer section */

/* responsive */


/* large */

@media screen and (min-width:1440px) {

    .albums {
        max-width: 1750px;
    }
}



/* medium */

@media screen and (max-width:1439px) {

    .col-m-3 {
        width: calc(100% / 12 * 3);
    }
    .save-m {
        display: block;
    }


    

    
}



/* small */

@media screen and (max-width:900px) {

    .col-s-6 {
        width: calc(100% / 12 * 6 );
    }
    
}


/* extra small */

@media screen and (max-width:670px) {


    .sidebar {
        width: 3rem;
    }

    .playlist {
       width: 100%;
    }
    .hidden {
        display: none;
    }

    .sidebar {
        width: 3rem;
    }

    .visible-s {
        display: block;
    }

    .logo-s img {
        padding: 0.5rem;
    }

    .menu-s a {
        width: 1.5rem;
    }

    .px-s {
        padding: 0 0.5rem;
    }

    .real-time-s {
        width: 75%;
        margin: auto;
    }

    .song_name-s {
        padding-right: 5%;
    }





}


@media screen and (max-height:670px) {
    .upgrade{
        display: none;
    }


  .list ul {
        overflow: auto;
        max-height: 13rem;
    }

}


/* hover effects */


/* play button */

.cover:hover .play {
    display: block;
}

.cover:hover img {
    opacity: 0.5;
}

/* upgrade */

.upgrade {
    transition: all 0.3s;
}

.upgrade:hover {
    transform: scale(1.1);
}

/* filters */

.mx-1 li {
    transition: all 0.1s;
}

.mx-1 li:hover {
    border-bottom: 3px solid green;
    color: white;
}


/* sidebar */

.home:hover, .search:hover, .library:hover {
    opacity: 1;
    border-left: 3px solid green;
}
.add-playlist:hover, .list li:hover, .install:hover {
    opacity: 1;
}


/* footer */

.song_name p:hover {
    text-decoration: underline;
}

.save a:hover {
    color: var(--white);
}


.player a:hover {
    transform: scale(1.3);
}

.time-bar:hover .progressive-select {
    display: block;
}

.volume-bar:hover .progressive-select {
    display: block;
}

