/* css reset */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'DM Sans', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

a {
    text-decoration-line: none;
}

h2 {
    color: white;
    font-size: 1.8rem;
}

img {
    width: 100%;
}



/* utilities */

:root {
    --h_footer: 5rem;
    --w_sideb: 15rem;
    --bg_banner:rgb(8 11 18);
    --white:white;
    --bg-playlist:rgb(20 25 34);
    --tx_color:rgb(114 116 121);
}

.d-flex {
    display: flex;
}

.no-style li {
    list-style-type: none;
}

.mx-1 {
    margin: 0 1rem;
}

.tx-center {
    text-align: center;
}

.just-center {
    justify-content: center;
}

.just-between {
    justify-content: space-between;
}

.just-end {
    justify-content: end;
}

.overflow {
    overflow-y: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.wrap {
    flex-wrap: wrap;
}

.gap-1 {
    gap: 1rem;
}

.p-1 {
    padding: 1rem;
}

.px-1 {
    padding:0 1rem
}

.py-2 {
    padding: 2rem 0;
}

.btn-transparent {
    border: 2px solid var(--white);
    padding: 1rem 2.5rem;
    border-radius: 3rem;
}


/* main section */

.container {
    width: 100vw;
    height: calc(100vh - var(--h_footer));
}

.sidebar {
    width: var(--w_sideb);
    height: calc(100vh - var(--h_footer));
}
.banner {
    background-color: var(--bg_banner);
    position: sticky;
    top:0;
    left: 0;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: end;
}

.banner a {
    color: var(--white);
}

.playlist {
    width: calc(100vw - var(--w_sideb));
    height: calc(100vh - calc(var(--h_footer) - var(--h_banner)));
    background-color: var(--bg-playlist);
}

.filter li, .filter p, .card p{
    color: var(--tx_color);
}

.mx-1 li {
    margin: 0 1rem;
}

.filter {
    width: 100%;
    margin: 1rem 0;
}

.albums {
    padding: 2rem;
}

.card {
    width: 13rem;
    height: auto;
}

.title h3 {
    color: var(--white);
    font-size: 1rem;
}

.subtitle {
    font-size: 0.7rem;
    padding: 0.5rem;
}






/* end main section */


/* footer section */

#site-footer {
    width: 100vw;
    height: var(--h_footer);
    position: fixed;
    z-index: 999;
}


/* end footer section */


/* debug */


.debug #site-footer {
    background-color: blue;
}

.debug .sidebar {
    background-color: rgb(95, 93, 93);
}

.debug .menu {
    background-color: white;
}

.debug .banner {
    background-color: yellow;
    height: 4rem;
}

.debug .logo {
    background-color: red;
    width: 5rem;
    height: var(--h_banner);
}

.debug .playlist {
    background-color: orange;
}

.debug .filter {
    background-color: green;
}

.debug .card {
    width: 15rem;
    height: 20rem;
    background-color: purple;
}

.debug #site-main .row {
    background-color: green;
}

.debug .song, .debug .player, .debug .function {
    background-color: yellow;
    width: 8rem;
    height: 4rem;
}

.debug .upgrade {
    background-color: blue;
    height: 4rem;
    width: 6rem;
    margin: 0.5rem 0;
}

.debug .add-playlist {
    background-color: aqua;
    width: 13rem;
    height: 3rem;
}
/* responsive */


/* large */

@media screen and (min-width:1025px) {


    
}



/* medium */

@media screen and (max-width:1024px) {
    
}



/* small */

@media screen and (max-width:768px) {
    
}


/* extra small */

@media screen and (max-width:425px) {
    .sidebar, .logo {
        width: 3rem;
    }

    .playlist {
       width: 100%;
    }

    .container {
        width: auto;
    }
    .hidden {
        display: none;
    }

    body {
        min-width: 425px;
    }

    .sidebar {
        width: 3rem;
    }

}


@media screen and (max-height:240px) {
    #site-header .upgrade{
        display: none;
    }
    
}


