/* css reset */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'DM Sans', sans-serif;
    font-family: 'Open Sans', sans-serif;
}



/* utilities */

:root {
    --h_footer: 5rem;
    --w_sideb: 15rem;
    --h_banner: 5rem
}

.d-flex {
    display: flex;
}

.no-style li {
    list-style-type: none;
}

.mx-1 {
    margin: 0 1rem;
}

.tx-center {
    text-align: center;
}

.just-center {
    justify-content: center;
}

.just-between {
    justify-content: space-between;
}

.overflow {
    overflow: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.wrap {
    flex-wrap: wrap;
}

.gap-1 {
    gap: 1rem;
}

.p-1 {
    padding: 1rem;
}

.px-1 {
    padding:0 1rem
}



/* header section */

.banner {
    width: auto;
    height: var(--h_banner);
}

.logo {
    width: var(--w_sideb);
    height: var(--h_banner);
}



/* end header section*/


/* main section */

.container {
    width: 100vw;
    height: calc(100vh - (var(--h_footer) + var(--h_banner)));
}

.sidebar {
    width: var(--w_sideb);
    height: 100%;
}

.playlist {
    width: calc(100vw - var(--w_sideb));
    height: calc(100vh - (var(--h_footer) + var(--h_banner)));;
}

.mx-1 li {
    margin: 0 1rem;
}

.filter {
    width: 100%;
    margin: 1rem 0;
}






/* end main section */


/* footer section */

#site-footer {
    width: 100%;
    height: var(--h_footer);
    position: fixed;
    z-index: 999;
}


/* end footer section */


/* debug */


.debug #site-footer {
    background-color: blue;
}

.debug .sidebar {
    background-color: rgb(95, 93, 93);
}

.debug .menu {
    background-color: white;
}

.debug .banner {
    background-color: yellow;
}

.debug .logo {
    background-color: red;
}

.debug .playlist {
    background-color: orange;
}

.debug .filter {
    background-color: green;
}

.debug .card {
    width: 8rem;
    height: 15rem;
    background-color: purple;
}

.debug #site-main .row {
    background-color: green;
}

.debug .song, .debug .player, .debug .function {
    background-color: yellow;
    width: 8rem;
    height: 4rem;
}

.debug .upgrade {
    background-color: blue;
    height: 4rem;
    width: 6rem;
    margin: 0.5rem 0;
}

.debug .add-playlist {
    background-color: aqua;
    width: 13rem;
    height: 3rem;
}
/* responsive */


/* large */

@media screen and (max-width:1440px) {
    
}



/* medium */

@media screen and (max-width:1024px){
    
}



/* small */

@media screen and (max-width:768px) {
    
}


/* extra small */

@media screen and (max-width:425px) {
    .sidebar, .logo {
        width: 3rem;
    }

    .playlist {
        width: calc(100vw - 3rem) ;
    }
    .hidden {
        display: none;
    }

}


@media screen and (max-height:240px) {
    #site-header .upgrade{
        display: none;
    }
    
}


