/* css reset */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'DM Sans', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

a {
    text-decoration-line: none;
}

h2 {
    color: white;
    font-size: 1.8rem;
}

img {
    max-width: 100%;
}



/* utilities */

:root {
    --h_footer: 5rem;
    --w_sideb: 15rem;
    --bg_banner:rgb(8 11 18);
    --white:white;
    --bg-playlist:rgb(20 25 34);
    --tx_color:rgb(114 116 121);
    --dark: black;
    --bg_footer: rgb(40 40 40);
    --color_light: #c1c1c1;
}

.d-flex {
    display: flex;
}

.no-style li {
    list-style-type: none;
}

.col-2 {
    width: calc(100% /12 * 2);
}

.col-3 {
    width: calc(100% /12 * 3);
}

.col-6 {
    width: 50%;
}

.col-10 {
    width: calc(100% /12 * 10);
}

.mx-1 {
    margin: 0 1rem;
}

.tx-center {
    text-align: center;
}

.al-center {
    align-items: center;
}

.just-center {
    justify-content: center;
}

.just-between {
    justify-content: space-between;
}

.just-end {
    justify-content: end;
}

.just-evenly  {
    justify-content: space-evenly;
}

.overflow {
    overflow-y: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.wrap {
    flex-wrap: wrap;
}

.gap-1 {
    gap: 1rem;
}

.p-1 {
    padding: 1rem;
}

.px-1 {
    padding:0 1rem
}


.py-1 {
    padding: 1rem 0;
}

.py-2 {
    padding: 2rem 0;
}

.mr-1 {
    margin-right: 1rem;
}

.btn-transparent {
    border: 2px solid var(--white);
    padding: 1rem 2.5rem;
    border-radius: 3rem;
}




/* main section */

.container {
    width: 100vw;
    height: calc(100vh - var(--h_footer));
}

.sidebar {
    width: var(--w_sideb);
    height: calc(100vh - var(--h_footer));
    background-color: var(--dark);
    position: relative;
}

.logo img {
    font-size: 5rem;
    padding: 2rem 4rem 1rem 1rem
}

/* da sistemare! */
.banner {
    background-color: var(--bg_banner);
    position: sticky;
    top:0;
    left: 0;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: end;
}

.banner a {
    color: var(--white);
}

.playlist {
    width: calc(100vw - var(--w_sideb));
    height: calc(100vh - calc(var(--h_footer) - var(--h_banner)));
    background-color: var(--bg-playlist);
}

.filter li, .filter p, .card p, .suggestion{
    color: var(--tx_color);
}

.mx-1 li {
    margin: 0 1rem;
}

.filter {
    width: 100%;
    margin: 1rem 0;
}

.filter ul {
    line-height: 3rem;
}

.albums {
    padding: 2rem;
}

.card {
    width: 100%;
    height: auto;
}

.title h3 {
    color: var(--white);
    font-size: 0.9rem;
}

.subtitle {
    font-size: 0.7rem;
    padding: 0.5rem;
}

.suggestion {
    font-size: 0.9rem;
    padding-top: 0.5rem;
    padding-bottom: 2rem;
}

.popular-artist img {
    border-radius: 50%;

}

.albums [class^="col-"] {
    padding: 1rem;
}

.menu, .menu i, .favourite-playlist {
    color: var(--white);
    font-size: 1rem;

}

.menu i {
    padding: 1rem;
}

.menu .hidden {
    font-size: 1rem;

}

.menu>div {
    display: flex;
    justify-content: left;
    align-items: center;
}

.list, .add-playlist, .add-playlist a, .menu, .profile{
    color: var(--tx_color);
}

.menu a {
    width: 1.5rem;
    fill: var(--tx_color);
}

.list {
    line-height: 2rem;
}

.visible-s {
    display: none;
}

.install a {
    width: 1.5rem;
    fill: var(--tx_color);
    padding-top: 5px;
}

.install {
    border-bottom: 2px solid var(--tx_color);
    align-items: center;
}

.user a {
    width: 2rem;
    height: 2rem;
    object-fit: cover;
    border-radius: 50%;
    background-color: var(--tx_color);
    background-image: url(../img/profile.svg);
    background-repeat: no-repeat;
}

.user {
    color: white;
    align-items: center;
}
.profile {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}






/* end main section */


/* footer section */

#site-footer {
    width: 100vw;
    height: var(--h_footer);
    background-color: var(--bg_footer);
}

.song img {
    width: 2.5rem;
    min-width: 2.5rem;
    aspect-ratio: 1/1;
}

.bot {
    height: 5rem;
    align-items: center;
}

.save a {
    color: var(--tx_color);
    padding: 0.5rem;
}

.controls a, .function a {
    color: var(--white);
}


.time-bar{
    width: 100%;
    height: 5px;
    background-color: var(--tx_color);
    border-radius: 5px;
    position: relative;
}

.progressive {
    width: 20%;
    height: 5px;
    background-color: var(--color_light);
    border-radius: 5px;
    position: absolute;
}

.song_name h6 {
    font-size: 0.9rem;
    color: var(--white);
}

.song_name p {
    font-size: 0.7rem;
    color: var(--tx_color);
}

.song_name {
    padding-left: 2%;
    padding-right: 20%;
}

.player {
    max-width: 60%;
    margin: auto;
    padding: 0.5rem 0;
}

.real_time p {
    color: var(--white);
    font-weight: 700;
    font-size: 1rem;
    padding: 0 1rem;
}

.function a {
    padding: 0 0.5rem;
}

.function {
    align-items: center;
    justify-content: end;
    padding: 0 1rem;
    width: 100%;
    position: relative;
}

.volume-bar{
    width: 50%;
    height: 5px;
    background-color: var(--tx_color);
    border-radius: 5px;
    position: relative;
}
/* end footer section */


/* debug */


.debug #site-footer {
    background-color: blue;
}

.debug .sidebar {
    background-color: rgb(95, 93, 93);
}

.debug .menu {
    background-color: white;
}

.debug .banner {
    background-color: yellow;
    height: 4rem;
}

.debug .logo {
    background-color: red;
    width: 5rem;
    height: var(--h_banner);
}

.debug .playlist {
    background-color: orange;
}

.debug .filter {
    background-color: green;
}

.debug .card {
    width: 15rem;
    height: 20rem;
    background-color: purple;
}

.debug #site-main .row {
    background-color: green;
}

.debug .song, .debug .player, .debug .function {
    background-color: yellow;
    width: 8rem;
    height: 4rem;
}

.debug .upgrade {
    background-color: blue;
    height: 4rem;
    width: 6rem;
    margin: 0.5rem 0;
}

.debug .add-playlist {
    background-color: aqua;
    width: 13rem;
    height: 3rem;
}
/* responsive */


/* large */

@media screen and (min-width:1440px) {

    .albums {
        max-width: 1750px;
    }
}



/* medium */

@media screen and (max-width:1439px) {

    .col-m-3 {
        width: calc(100% / 12 * 3);
    }


    

    
}



/* small */

@media screen and (max-width:900px) {

    .col-s-6 {
        width: calc(100% / 12 * 6 );
    }



    
}


/* extra small */

@media screen and (max-width:670px) {


    .sidebar {
        width: 3rem;
    }

    .playlist {
       width: 100%;
    }
    .hidden {
        display: none;
    }

    .sidebar {
        width: 3rem;
    }

    .visible-s {
        display: block;
    }

    .logo-s img {
        padding: 0.5rem;
    }

    .menu-s a {
        width: 1.5rem;
    }

    .px-s {
        padding: 0 0.5rem;
    }



}


@media screen and (max-height:240px) {
    .upgrade{
        display: none;
    }
    
}


